{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}
    <h1>registration profile</h1>

        <form id="form" method="post" action="/rango/profile/"
                enctype="multipart/form-data">
            {% csrf_token %}
         Rango says: <strong>thank you for Profile!</strong><br />
        <a href="{% url 'index' %}">Return to the homepage.</a><br />
            {{ profile_form.as_p }}

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/>
            {% endfor %}
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </form>
{% endblock %}